/.vs/SoftCore/v15
/SoftCore.Interception/obj
/SoftCore.Security/obj
/SoftCore.Testing/obj
/SoftCore/obj
/Testing/SoftCore.UnitTests/obj
/SoftCore/bin
/SoftCore.Interception/bin
/SoftCore.Security/bin
/SoftCore.Testing/bin
/Testing/SoftCore.UnitTests/bin
/Testing/SoftCore.Insights.UnitTests/bin/Debug/netcoreapp2.2
/Testing/SoftCore.Insights.UnitTests/obj
/Testing/SoftCore.InterfaceBridging.UnitTests/bin/Debug/netcoreapp2.2
netcoreapp2.2
